[2019-01-15 21:49] ladyada opened #1 "allow changing text with setter"
dynamic changin' of text would be rad

[2019-02-09 06:04] ladyada commented on #1
having some issues with this when updating text twice. the first update is ok, but on the second one i get

[code]

[2019-02-13 18:54] TG-Techie opened #3 "this does not work on the pyportal rn!"
[code]

[2019-02-18 19:07] ladyada commented on #1
throw set_text exception on size check

[2019-02-18 19:22] #1 closed

[2019-02-21 23:24] tannewt commented on #3
Please be more descriptive. What file are you running? What version of the library? What version of CircuitPython?

[2019-02-25 23:24] ladyada opened #4 "allow various alignment corners & centers"
easy text alignment based on x, y would allow for pretty UI elements!
needs https://github.com/adafruit/Adafruit_CircuitPython_Bitmap_Font/issues/5

[2019-03-02 18:32] ladyada commented on #4
@tannewt @jerryneedell @makermelissa @djecken @jedgarpark  FYI - im gonna change the way text displays right now because all text is Y offset (i eyeballed it and didnt notice till now)

![image](https://user-images.githubusercontent.com/1214161/53685921-0594d100-3cef-11e9-8859-df2d616c5912.png)

ill make it so the top left corner is the origin point - perhaps it was at one point and we messed with

[2019-03-07 23:13] ladyada commented on #4
https://nerdparadise.com/programming/pygame/part5

[2019-03-07 23:14] tannewt commented on #4
https://pico-8.fandom.com/wiki/Print

[2019-03-07 23:15] ladyada commented on #4
adafruit gfx does baseline https://github.com/adafruit/Adafruit-GFX-Library/blob/master/Adafruit_GFX.cpp#L1033

[2019-03-07 23:17] tannewt commented on #4
Cairo does baseline: https://www.cairographics.org/manual/cairo-text.html#cairo-show-text

[2019-03-08 20:39] tannewt commented on #4
Thinking more about this I don't think we want baseline because it handles multiline text poorly. The examples above don't handle multiline layout themselves but TextArea does.

Before we add anchor options, I think defaulting to vertical center of the left edge of the text would provide the best default behavior for both single and multiline text.

Since the overall bounding box is much larger th

[2019-03-08 20:41] ladyada commented on #4
ok - how would you calculate size of a text area before creating it? we'd have the bounding box be a static function?

[2019-03-08 20:49] tannewt commented on #4
Why do you need the size before creating it? The vertical alignment should be done for you.

[2019-03-08 21:35] ladyada commented on #4
word-wrap calculation?

[2019-03-12 02:47] ladyada commented on #3
hiya @TG-Techie we're using it a lot - if you are still having a problem please post example code for reproducing the bug!

[2019-03-12 02:47] #3 closed

[2019-03-12 17:53] tannewt commented on #4
Would justification change the origin or just the layout? `__init__` arg is the way to go.

[2019-03-12 17:55] ladyada commented on #4
easiest would be changing origin: center would now be center of label (how else could you know for a single line what centering is?) and right would be center-right of label

[2019-03-12 18:00] tannewt commented on #4
Asking for clarity. Justification and origin location don't need to be tied to one another. You could center against the widest line.

[2019-03-12 23:39] ladyada commented on #4
ok if you have a center or right-justified label with text that changes, you'd have to move it every time you changed the text

[2019-03-13 17:45] tannewt commented on #4
You could have a separate origin (or anchor) property that changes how the text is positioned. I don't think it's safe to assume changing the justification should also change the origin.

[2019-03-13 17:56] ladyada commented on #4
ok - we'd have to layout all the glyphs, then move them in a secondary pass

[2019-03-13 18:11] tannewt commented on #4
When we add it we could use a nested group to handle the anchor changes. That way the glyphs have fixed position.

[2019-03-13 18:20] ladyada commented on #4
! good idea - i may get to it this weekend when i redo buttons

[2019-03-13 18:22] tannewt commented on #4
Thanks! I appreciate all of your help with the text layout. It is awesome because of you!

[2019-04-13 19:16] rdagger opened #8 "Label initalization very slow with bdf font"
Initializing a label takes about 10 seconds with a bitmap font.  Here's my code:
[code]
Here's the bdf font:  https://github.com/pixelmasochist/terminalpants

[2019-04-15 06:42] tannewt commented on #8
It's parsing the file the first time it needs a glyph (to save memory.) Use `font.load_glyphs` to preload the glyphs you need all in one pass of the file. Source is here: https://github.com/adafruit/Adafruit_CircuitPython_Bitmap_Font/blob/master/adafruit_bitmap_font/glyph_cache.py#L53

[2019-04-15 06:42] #8 closed

[2019-05-11 15:37] makermelissa opened #10 "Failing to Deploy"
Ok, so when I pushed a release, I noticed it was failing on deploy because setup.py is missing. So it looks like we either need to create a setup.py file or to set `env:  - DEPLOY_PYPI="false"` in `.travis.yml` so it doesn't attempt to deploy.

[2019-05-23 23:16] caternuson opened #11 "Show a better message when exceeding max_glpyhs / initial text length"
Maybe I'm incorrectly assuming the mutability of a Label? You can reassign the text, but if it is longer than the original text, then you exceed a Group limit.

[code]

[2019-06-03 19:22] iraytrace commented on #11
Given the nature of the Label, I would suggest this should either truncate the input text in the property setter method, or otherwise have a more graceful recovery.

[2019-06-03 19:27] anecdata commented on #11
I believe this behavior is currently as-designed. Label needs the maximum number of characters, or pixel width using the bounding box using the current font. Enlarging the allocation, auto-truncation option, even a scrolling text option would be great. This gets tricky with multi-line text though.

[2019-07-04 01:15] makermelissa commented on #11
If you pass in `max_glyphs=30` or whatever number is your largest size, then it will handle this correctly. If not specified, it assumes the length of the default text is the max_glyphs. I believe this issue is more about having it degrade with a better message since "Group full" is a little misleading.

[2019-07-08 03:12] hulkco opened #13 "MemoryError: memory allocation failed"
I have this issue, when I use the adafruit_bitmap_font library in conjunction with Adafruit_CircuitPython_Display_Text
This the program
[code]

and this is the error.

[code]

[2019-07-08 17:27] ladyada commented on #13
M0/samd21 boards don't have a ton of RAM, you probably need to upgrade to an M4 (nRF/D51)

[2019-07-09 02:37] hulkco commented on #13
Thanks @ladyada !!!

[2019-07-09 02:47] #13 closed

[2019-07-21 23:02] jtrip opened #15 "display_text_simpletest.py is blank, not functional."
Hello, while looking into this library the first time I noticed that the display_text_simpletest.py is blank. The README.md file illustrates a simple test that I think would be great, however I would also like to suggest making one small improvement.

Currently the usage example is:
[code]

Which does seem to work in my testing, however after updating the display with the text_area object the code

[2019-07-21 23:51] ladyada commented on #15
oops looks like we missed that example, please feel free to submit a nice simple one. what youv've got looks great. instead of a sleep, please do a 'while True: pass' type loop so it stays on screen (or you can bounce the text around :D

[2019-07-22 15:23] jtrip commented on #15
With that merged in I think we are good here, thanks!

[2019-07-22 15:23] #15 closed

[2019-07-31 16:14] dhalbert commented on #11
I just encountered this too. I'd suggest either it just truncates or we catch the "Group full" exception and throw with a more meaningful exception message like "Text too long" or "Text exceeds max_glyphs".

[2019-07-31 16:47] caternuson commented on #11
Agree with above two comments - this issue is just a suggestion for better fail behavior. And once implemented, update the displayio guide.

Would truncating be the more user friendly option?

[2019-08-19 15:49] tannewt opened #17 "display_text_pyportal.py outdated"
It uses the old style for the backlight pin and is from a demo rev.

[2019-08-19 15:52] ladyada commented on #17
@makermelissa you're a pro now :)

[2019-08-20 02:38] #17 closed

[2019-10-18 00:19] theacodes commented on #4
Coming back to this because we had someone in the discord run into a case where the `M` character wasn't present in their `bdf` and it caused issues. This isn't as uncommon as it might seem - it's super common to see people prepare fonts for just special glyphs.

I also find the behavior of the `y` of the Label being the vertical center of the text to be extremely surprising, especially for dynami

[2019-10-18 17:31] tannewt commented on #4
We did the vertical y alignment to have the best result when rendering text in a button. Having it be the top left requires adjustment depending on the number of lines of text where vertical centering looks somewhat better.

I'd love to see other options available though.

[2019-10-18 17:35] makermelissa commented on #4
Maybe there could be a parameter to have it vertically center as it does now or align to the top by default? That way for button code we could pass a parameter that tells it to align centered and not break code.

[2019-11-25 23:14] fbtoc opened #23 "Capital M must be in font"
Would be nice if the documentation of the font parameter also explicitly said something to the effect of "must include M glyph".

[2019-11-26 20:29] #10 closed

[2019-11-26 20:33] makermelissa commented on #10
Confirmed this is now fixed!

[2019-12-11 20:21] #23 closed

[2019-12-11 20:46] jepler opened #27 "Docs link in readme doesn't work"
It takes me to a [page](https://circuitpython.readthedocs.io/projects/display_text/en/latest/) that says
[code]

[2019-12-22 04:10] siddacious commented on #27
Assuming there isn't an issue building the docs, is it's probably just a matter of adding it to readthedocs.org. I can do this next week

[2019-12-29 00:28] zouden commented on #8
This doesn't work like I expect it to.
[code]

My problem: updating the `lbl.text` with new values takes a signficant amount of time the first time, but then the glyphs are cached and it runs fast. I want to pre-cache the glyphs. `load_glyphs()` doesn't work like I expect it to. What am I doing wrong?

[2020-01-02 20:34] tannewt commented on #8
I'd expect that to work. To debug, I'd add a print of characters here: https://github.com/adafruit/Adafruit_CircuitPython_Bitmap_Font/blob/master/adafruit_bitmap_font/bdf.py#L100

[2020-01-02 20:38] zouden commented on #8
I should have mentioned in my previous comment that `font_large.load_glyphs('0123456789.-') ` takes a noticeable amount of time, which suggests it is doing something. It just doesn't speed up the label text updating.

[2020-01-02 21:13] tannewt commented on #27
I've fixed this by deleting the `display-text` subproject and recreating it as `display_text`. Thanks for the issue!

[2020-01-02 21:13] #27 closed

[2020-01-03 21:37] tannewt commented on #8
What new values cause the slow update? Can you time a subsequent update of a known label with time.monotonic()? It'd be slow if the text accidentally included a new character.

[2020-01-05 19:25] zouden commented on #8
Here's my test code for timing. It omits the label construction.

[code]

Output:
[code]
Now if I comment out the cache line:
[code]

So yeah it seems that load_glyphs takes time but doesn't actually cache. Yet label caching _does_ work because the last line is faster than the others.

[2020-01-07 23:09] tannewt commented on #8
Good find @zouden. `load_glyphs` didn't handle strings correctly. I've add support for them here: https://github.com/adafruit/Adafruit_CircuitPython_Bitmap_Font/pull/15 This will screw up alternate encodings but I think that is ok. Everyone should use UTF-8 now.

[2020-01-27 23:29] RichardA1 commented on #4
I just came across this while trying to figure out how to recalculate y for multiline dynamic text to do top vertical alignment. I see that it actually recalculates the y position for multiline text, but could there be another parameter that skips that for vertical top option. Something like ``align=top/center/bottom`` to change the alignment.

I realize that this was made to make it easy for butt

[2020-01-28 02:04] RichardA1 commented on #4
I did a pull request to see if I could add the align parameter. It basically just lets you opt out of the y_offset for _update_text so that the text remains aligned at the top.

https://github.com/RichardA1/Adafruit_CircuitPython_Display_Text/blob/master/adafruit_display_text/label.py

[2020-01-28 17:24] caternuson commented on #4
Has this been taken care of by #22 ?

[2020-01-28 20:19] RichardA1 commented on #4
@caternuson Ah, yes that one would work but it did not look like it was live yet. I ended up doing a roundabout way to do top align for the Guide that I am working on and just hoped that something less hacky/redundant would get pushed to this library.

Thanks

[2020-02-08 15:58] dglaude opened #33 "Label could have a background color"
Right now only the text color can be selected, and the background color is transparent.
Being able to optionally define the background color would be great.

[2020-02-18 16:58] #33 closed

[2020-03-01 17:57] kevinjwalters commented on #11
I just got confused with this too. I agree with @dhalbert and @jepler in Discord, a re-throw with a clearer exception would be a good thing.

[2020-04-29 19:16] kattni commented on #4
This appears to have been resolved.

[2020-04-29 19:16] #4 closed

[2020-05-06 17:24] hierophect opened #41 "Attribute error when attempting to use a kanji font"
I'm attempting to load a 16 point kanji font into Circuitpython (attached)
[kanji16.bdf.zip](https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/files/4588341/kanji16.bdf.zip)
, but I'm encountering the following error:
[code]

I'm not sure if this is related to the font itself - is it possible for a .bdf to not include the correct glyph properties for this library? It loads correctly

[2020-05-06 20:20] hierophect commented on #41
Well, after some considerable debugging time it seems that this was caused by missing metadata in the .bdf files I tried, which is included by otf2bdf but seems to be omitted by most raw .bdf fonts found online. While it would be interesting to know what causes this and whether there's an easy fix that makes these fonts usable, it's probably not worth having an issue to fix the fact that some rand

[2020-05-06 20:20] #41 closed

[2020-05-23 04:39] kmatch98 opened #44 "Awkward usage of Label with x,y, then anchor_point and anchored_position"
Currently, the label instance position is defined by `x` and `y` when the instance is created.  Then the `anchored_position` and `anchor_point` setters can be used only after the instance is created.

I think it would be more intuitive if the `anchor_point` and `anchored_position` were considered as the "default" input parameters and that these parameters be made available when creating a label in

[2020-05-29 01:26] jimbobbennett opened #45 "Exception thrown if text is not set on creation but updated later"
The recent changes in [2.6.0](https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/releases/tag/2.6.0) have introduced an exception if the text is not set on a label when it is created, but is set later.

To reproduce:

[code]

This is a version of the [SimpleTest example](https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/blob/master/examples/display_text_simpletest.py) bu

[2020-05-29 22:15] FoamyGuy commented on #45
fixed with #46

[2020-05-29 22:15] #45 closed

[2020-06-18 16:59] caternuson opened #50 "Will fail if font does not have expected glyphs"
Not all fonts have all expected characters used to check height. Maybe add some try/except to catch this?
[code]

[2020-06-18 19:20] caternuson commented on #50
Hopefully fixed with #51

[2020-06-18 19:20] #50 closed

[2020-06-26 23:14] kevinjwalters commented on #11
`max_glyphs` is also problematic as this is not documented in enough detail for the user to know that this needs to be `maximum(all possible text lengths) + 1` - note the `+ 1`.

The `raise RuntimeError("Please provide a max size, or initial text")` in the code doesn't really help here either as it mentions a `max size`.

[2020-06-27 14:00] kevinjwalters opened #55 "anchor_point and anchored_position do not work well with scale"
I updated my libraries (from `adafruit-circuitpython-bundle-5.x-mpy-20200625`) and tried this,

[code]

The position of that text is not entirely on screen, the top is chopped off. This is presumably due to issues with a `scale` which isn't the default value of `1`. Discussed this a little bit recently with @FoamyGuy in Discord.

[2020-06-27 15:37] FoamyGuy commented on #55
I think the root of this issue is that the `scale=5` parameter doesn't really belong to the Label, and Label isn't taking it into account for anything or really doing anything with it, except passing it through to the super class Group `__init__()` here: https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/blob/1dcecb9979dced10f3d4bf1fa7c4dc8e7c699f71/adafruit_display_text/label.py#L87

[2020-07-02 16:01] makermelissa opened #58 "Remove usage of 0-width/height bitmaps and tilegrids"
I discovered this when working on Blinka Displayio and looking at the circuitpython code as well, it appears a divide by zero error is happening in the background, but it's silently recovering from that. In order to avoid that, we'd like to add warnings if 0-width/height bitmaps are used, but it should be removed from here first as that would break this library.

It's being used here: https://gith

[2020-07-02 16:33] makermelissa commented on #55
Fixed by #57.

[2020-07-02 16:33] #55 closed

[2020-07-02 18:19] tannewt commented on #58
@kmatch98 Any thoughts? I think you added the zero-width bitmap. Is it just setting a background color?

[2020-07-02 18:44] FoamyGuy commented on #58
I believe it is only for setting the background color. The way it works now was introduced because the original `background_color` functionality was working with `terminalio.FONT` but not working very well with custom fonts. #49 has more details.

I think it's set to 0 width initially because the label may not have any text yet at this point.

It looks like the bitmap and tilegrid get created insi

[2020-07-02 19:08] kmatch98 commented on #58
I just issued a pull request to alleviate this to prevent the zero-sized bitmap.

I also observed some strange position changes when the text is changed after a label is created.  I will create a separate issue for that.

[2020-07-02 19:13] kmatch98 opened #60 "Changing the label text causes a change in the text position"
Using the example file `display_text_background_color_padding.py` the text "none" is changed to say "text".  In the process, the "text" label changes position and walks down the screen.

I think that either the getter or setter for anchored_position is not working properly.

[2020-07-02 20:15] kmatch98 commented on #58
@ foamyguy I didn't add a check for zero size of the box_width and box_height.  Do you think that will be necessary?  If so, what exception should it provide?

[2020-07-02 20:25] FoamyGuy commented on #58
@kmatch98 I do think it will be necessary.

If I understand correctly the I think the desire is that Bitmap object will be raising an exception when you try to create one with 0 width or height. @tannewt can you confirm if I am understanding correctly what the ultimate desired change is?

Inside of Label I think we will need to check if the size is going to be zero, and if so just skip making the

[2020-07-03 16:03] kevinjwalters commented on #60
For libs from `adafruit-circuitpython-bundle-5.x-mpy-20200703` (`VERSIONS` file tells me that's `2.7.6`), I spotted something similar whilst investigating the _second issue_ in [Adafruit Forums: Clue_Plotter Problem](https://forums.adafruit.com/viewtopic.php?f=65&t=165178), the one reported by Robertl. I first tried commented out the **Button Guide** in the main code which appeared to act as viabl

[2020-07-03 16:14] kmatch98 commented on #60
Thanks for the comment about the other related error. I think the recent fixes will repair the “wandering off” of labels when the text is updated, but I don’t understand the Memory Error that was indicated in the forum post. Any ideas about the root cause of that?

If there is another problem I’d like to be sure we consider it with any next updates (and try not to create any new ones!)

[2020-07-03 16:36] kevinjwalters opened #61 "Consider offering control over creation of background bitmap to reduce memory usage"
I've not followed the recent changes to this library but somewhere since https://github.com/adafruit/Adafruit_CircuitPython_Bundle/releases/tag/20200327 an extra bitmap is created for a background feature. This is the likely candidate for the primary cause of a `MemoryError` exception that now occurs using this library for the application in [Adafruit Learn: CLUE Sensor Plotter in CircuitPython](h

[2020-07-03 16:37] kevinjwalters commented on #60
I put in #61 for the `MemoryError`.

[2020-07-03 17:49] tannewt commented on #58
@FoamyGuy Yup, I intend on raising an exception if width or height is zero.

[2020-07-05 18:26] kevinjwalters commented on #61
This might also be the cause for my audio becoming a little more choppy. I'm moving around some bitmaps with text underneath them while playing samples in my applicaiton. I'd shrunk them down a bit in size to reduce the pauses in playback to an acceptable amount but it's possible they got worse a week or two ago. I'd assumed this was my imagination but it's possible it coincided with me doing a li

[2020-07-05 18:31] FoamyGuy commented on #61
@kevinjwalters if you have a moment try testing out the branch from this PR: https://github.com/kmatch98/Adafruit_CircuitPython_Display_Text/pull/2

It should avoid making the bitmap if background color is not used.

[2020-07-05 19:47] kevinjwalters commented on #61
I tried https://github.com/FoamyGuy/Adafruit_CircuitPython_Display_Text/blob/51e13b2e619c9069f74c60eeb4c2f9f64b052247/adafruit_display_text/label.py with the plotter program from my guide, same error

[code]

I think that's expected as it sets a blue backround which triggers the creation of the bitmap even when the monospaced `terminalio.FONT` is in use? Perhaps there's a (reliable) way to detect

[2020-07-06 13:05] FoamyGuy commented on #61
Ahh, yeah I think you are right. It would still be making the bitmap now. I'm going to work on getting it finalized later today. I will look into the possibility of skipping the bitmap for termainli.FONT text.

[2020-07-08 22:16] makermelissa opened #63 "The latest version seems to have introduced a text shifting bug"
I think this was introduced by #57. I think what is happening is that as the text is updated, it is being shifted.
See https://github.com/adafruit/Adafruit_Blinka_PyPortal/issues/11 for more details.

[2020-07-08 22:24] FoamyGuy commented on #63
It should be fixed with #59. If you have a moment give that one a try.

[2020-07-08 22:40] makermelissa commented on #63
I'll give it a try @FoamyGuy.

[2020-07-09 01:18] makermelissa commented on #63
Fixed via #59.

[2020-07-09 01:18] #63 closed

[2020-07-09 01:53] kmatch98 commented on #58
Resolved in https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/pull/59

[2020-07-09 01:54] kmatch98 commented on #60
Resolved in https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/pull/59
and https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/pull/62

[2020-07-09 01:54] #60 closed

[2020-07-09 01:56] kmatch98 commented on #61
This was resolved in https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/pull/59

The default for background color is `None` and now prevents creation of the bitmap. I hope this will resolve your memory usage issue.

[2020-07-09 02:05] makermelissa commented on #58
It appears this is still an issue. Likely due to my term usage on this issue. I added a 0-width/height check to tilegrid and here's the error:
[code]

[2020-07-09 02:08] makermelissa commented on #58
Here's the changed code in tilegrid.py:
[code]

[2020-07-09 02:54] kmatch98 commented on #58
@makermelissa maybe it is a different issue than before, or we solved the wrong problem with the last PR!

Can you show the code you are running to create the label?  For example, are you updating a label with`text=‘’`?

[2020-07-09 02:57] makermelissa commented on #58
Sure, I'm basically running the code from https://learn.adafruit.com/pyportal-electioncal-us/code-pyportal-with-circuitpython with some small modifications (removed board.NeoPixel from initialization and updated code to get the current working directory in CPython) so that it runs on the Blinka PyPortal library.

[2020-07-09 02:57] makermelissa commented on #58
Here's the full error:
[code]

[2020-07-09 03:04] FoamyGuy commented on #58
It looks like maybe this is getting caused by the glyph width here: https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/blob/f5195246cb709324c6b775515168dfaf0a902822/adafruit_display_text/label.py#L280

Perhaps the width and/or height of certain glyphs can be 0?

[2020-07-09 03:19] kmatch98 commented on #58
In the font file "Arial-12.bdf", the spaces are represented with zero-width glyphs, but use an `x_offset` to create the space.

So, in essence a blank tileGrid is created (with zero width), and the next tileGrid is created with an x-position offset to the right by `x_offset`.

One option is we can decide to not create any zero-width tileGrids.

[2020-07-09 03:23] makermelissa commented on #58
That sounds like a workable plan. :)

[2020-07-09 03:25] kmatch98 commented on #58
Ok, just issued a PR, please check it out and see if it will resolve your tileGrid error.

[2020-07-09 03:28] makermelissa commented on #58
Fixed by #64

[2020-07-09 03:28] #58 closed

[2020-07-09 03:28] #61 closed

[2020-07-09 14:52] makermelissa opened #65 "List index out of range"
It turns out the issue with skipping the glyphs with zero-length tilegrids results in a List index out of range error:
[code]

Perhaps a better solution would be to check the width and height of the glyph and if zero, just substitute a 1. That essentially how I was doing it as a work-around, though it's possible that may cause text alignment issues. Another option may be just putting a `None` in t

[2020-07-09 15:19] kmatch98 commented on #65
I tried a quick change to put `None` as a face, but got a different error.  I think we need to rethink the strategy around this one.

When updating text in a tileGrid, the code checks to see if any characters are changed and only updates the ones that are different.  Now that we deleted any zero-width tileGrids, the indexing between the text array and the tileGrid Group is off when it goes to upda

[2020-07-09 18:11] makermelissa commented on #65
Fixed by #66.

[2020-07-09 18:11] #65 closed

[2020-07-09 18:13] makermelissa opened #67 "When text width changes, artifacts are left..."
I noticed this after it had been running hours. When the text shrinks after a text update due to a variable width font, artifacts are left over. Here's the open weather demo running on a PyPortal.

![IMG_2240](https://user-images.githubusercontent.com/2681417/87075349-0c7dfe80-c1d5-11ea-8eef-984c2ccb34f0.jpeg)

[2020-07-09 20:54] AdinAck opened #68 "Label disappears after text parameter is changed more than once."
When I create a label, and then update it's text parameter later, the text will completely disappear upon the second change.

code:
[code]

After "Text2" It will disappear, although, sometimes I will see "Test3" For a fraction of a second.

Perhaps I am using this wrong, in which case any help would be much appreciated!

[2020-07-10 14:45] dherrada commented on #68
@AdinAck Can you show me your whole code.py? You actually need a loop to keep displayio running so the code doesn't finish.

[2020-07-10 14:45] dherrada commented on #68
That being said, you should be seeing test3 and test4

[2020-07-10 15:02] makermelissa commented on #68
@AdinAck please try version 2.7.7. If that works, this may be related to issue #67.

[2020-07-10 19:09] AdinAck commented on #68
The update fixed the issue!
Thanks!

[2020-07-10 19:09] #68 closed

[2020-07-12 04:30] kmatch98 commented on #67
Strange.  Let me take a look tomorrow to see if I can replicate it with a simple program.

[2020-07-13 16:38] makermelissa commented on #67
Fixed via #69.

[2020-07-13 16:38] #67 closed

[2020-07-13 16:54] kevinjwalters commented on #61
I've tested three different versions of the library from February, June and the most recent one in July and there's both performance differences and rendering differences using `terminalio.FONT`: https://www.youtube.com/watch?v=FtI1xx6o3c8

That's running on 5.3.0 btw.

[2020-07-13 18:20] kmatch98 commented on #61
@kevinjwalters Thank you for the video, this is good insight. Can you clarify how you are generating this demo?  Are your recreating the text label from scratch or moving its x,y location?  If moving x,y are you doing this in a higher level group or relocating this box?

If possible please post the demo code, I want to be sure to understand the specific issue that is causing the performance change

[2020-07-13 18:35] kevinjwalters commented on #61
From the video description: https://github.com/kevinjwalters/circuitpython-examples/blob/master/clue/clue-label-test.py

[2020-07-13 18:52] kmatch98 commented on #61
Thanks. Sorry I overlooked it in the description. Was too fixated on watching the complex storyline of the video :)

[2020-07-15 16:51] caternuson commented on #11
Closing this for now. Looks like it was nominally fixed with #48.

[2020-07-15 16:51] #11 closed

[2020-07-15 22:16] kmatch98 commented on #61
@FoamyGuy just adding you to this so you will be aware of the performance change listed above. This probably should be added as a new issue.

So far I haven’t dug into this yet.

[2020-07-15 22:18] kmatch98 opened #70 "Performance degradation for label"
https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/issues/61

Performance degradation was noted by @kevinjwalters

[2020-07-15 22:47] FoamyGuy commented on #70
Thank you for sharing that example code Kevin! I am trying to put together a suite of tests to run whenever display_text is updated, I will add this one.

I am assuming the performance hit is due creating the bitmap and tilegrids, if so, I think we are likely stuck with it at least for custom fonts, since the bitmap is required to make the background look correct.

Something we could look into is

[2020-07-15 23:15] kmatch98 commented on #70
Agreed on your comment about treating the builtin font differently. However when I first looked into it I couldn’t figure out how to detect which font type (builtin vs BDF lodes). I think that is the key to unlocking the ability to treat each differently.

[2020-07-17 00:44] FoamyGuy commented on #70
I was able to tinker with this for a bit tonight. I think we can use the `font` property and test against `terminalio.FONT`. This example seems to print the correct value for both types of fonts:
[code]

[2020-07-17 00:51] kmatch98 commented on #70
Looks like good progress.  To me it’s a little odd that there is a separate class for type BuiltInFont https://circuitpython.readthedocs.io/en/5.3.x/shared-bindings/fontio/BuiltinFont.html

Does anyone know if there will ever be more `BuiltInFont` other than terminalio.FONT?  If so does this need to be generic for all BuiltInFonts?

My guess is that your code will most cases but wanted to document

[2020-07-17 00:58] FoamyGuy commented on #70
That is a good question. I don't know whether there will ever be others. I do think that some devices have a different built-in font, but it's still referenced with `terminalio.FONT` I think.

Just in case we could make this a little more generic by checking the type like this:
[code]
This one seems to be working as well when substituted in the above example.

[2020-07-22 00:58] tannewt opened #72 "Don't allocate a background bitmap when background_color is None"
I'm getting this even when background_color is None.

[code]

[2020-07-22 01:44] FoamyGuy commented on #72
I think this might be resolved with #71. I think `_create_background_box` is not getting called if `background_color` is `None` with those changes.

[2020-07-22 01:48] FoamyGuy commented on #72
Nope I was wrong. That is still getting called when background_color is None if custom font is used.

Thank you. I will get this fixed.

[2020-07-23 00:00] kmatch98 commented on #70
Some feedback from @tannewt regarding display performance here:
https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/pull/71

[2020-07-23 17:19] tannewt commented on #70
BuiltInFont exists to make it easier to build in a font. If it was python, then it'd be trickier to have the object within the core build itself. It's mean to have the same API as other font classes and be treated the same.

I wouldn't expect more than one to exist in a build because they take a good chunk of space.

[2020-07-23 19:23] kmatch98 opened #75 "Updated documentation for label.py to clarify usage for background"
@FoamyGuy Here are my collection of thoughts on updates for the learn guide for `adafruit_display_text\label.py`.  I just realized that maybe this belongs in a separate repository with the learn guides, but I couldn't identify the location.  If you know an alternate location, let me know.  If you have time to review this list, please add your suggestions and then we can discuss how you want to coo

[2020-07-24 19:25] #44 closed

[2020-07-24 19:38] #72 closed

[2020-07-28 15:59] kmatch98 opened #76 "Reduce memory usage for text creation: bitmap_label"
In order to reduce the amount of memory for displaying text, @foamyguy and I are developing a new "label" class that will use a bitmap instead of a group of TileGrids to store the text.  Here is a proposed strategy for this new "bitmap_label" Class:

### `bitmap_label` Class definition
* Input parameters:
    * Make `text` a required parameter (Note: This will flag if someone creates a bitmap_labe

[2020-07-28 18:59] tannewt commented on #76
Is the core problem with the current implementation the overhead of the TileGrid class? How does this change as the text gets larger? The TG model saves glyph bitmap duplication at the expense of the TG fixed overhead and the cost of storing it in a group.

Note, I wouldn't include the current background bitmap in the calculations because it's easy to optimize on it's own.

[2020-07-28 22:32] kmatch98 commented on #76
Short answer to your question:
### Conclusion: `label.py` uses >100 bytes per character.

---------------
#### Here are the details
Per your questions, I did a trial between `label.py` and my `TextMap` library (https://github.com/kmatch98/CircuitPython_textMap).

For this trial, I used a string (659 characters long).  I printed one additional character during each loop and then measured the memory

[2020-07-28 22:55] caternuson commented on #61
This appears to have been closed, but I just hit the same issue.

code.py is the clue-plotter.py program from this guide:
https://learn.adafruit.com/clue-sensor-plotter-circuitpython/circuitpython-sensor-plotter
along with the other .py files from there.

Using library bundle `adafruit-circuitpython-bundle-5.x-mpy-20200728.zip`, also printing `__version__` below just to verify:
[code]

[2020-07-28 22:58] makermelissa commented on #61
@caternuson I think this was closed in favor of #76.

[2020-07-28 23:03] caternuson commented on #61
Thanks @makermelissa. So this is still an open issue, just moved?

[2020-07-28 23:03] makermelissa commented on #61
As far as I can tell, that's correct.

[2020-07-28 23:10] FoamyGuy commented on #61
@caternuson @makermelissa the bitmap_label noted in #76 would likely help with this issue on the CLUE. But there are also some potential gains to be made in the existing label by changing the background not to use a fullsized bitmap. Possible alternatives include `vectorio` (but it's 6.x+) or `displayio.Shape` I will probably make an attempt at updating it to use `displayio.Shape` sometime soonish

[2020-07-28 23:31] kmatch98 commented on #61
@caternuson and @foamyguy

Since this could be an urgent issue with this example for the Clue, is there something we can do in the Clue learn guide program to shave a few bytes to make this work, maybe turn off background?

I don’t have a Clue so I’m unable to assist other than with suggestions.

[2020-07-29 00:12] FoamyGuy commented on #61
Setting it to none would save whatever memory is used by the bitmap background. But the CLUE program probably needs the background to remain legible easily.

The only way that I could think of to solve the memory problem but keep the colored background was in #71 but it led to too much complexity within the label.

It may be possible to in the CLUE example code to set the background to none (avoid

[2020-07-29 00:18] FoamyGuy commented on #61
Actually in this case the example code doesn't have the labels, they are inside of the CLUE library, so the change would need to be made there to attempt that last thing I mentioned. I don't think that is a good solution.

I think using `displayio.Shape` might the best chance for reducing the memory without the added complexity of treating built-in fonts differently.

[2020-07-29 00:38] FoamyGuy commented on #61
Looking a bit closer the label is inside the Plotter module which is part of the example code. Maybe as a temporary fix it could changed there to use `None` and manually control the palette.

[2020-07-29 01:18] FoamyGuy commented on #61
Okay I made an attempt to solve it by modifying the plotter module within the example to set the label to use a `None` background and then "manually" change the palette to get the blue color back.

https://github.com/adafruit/Adafruit_Learning_System_Guides/pull/1192

I'm not sure if this is an ideal solution, but it does seem to be working to allow the example to run on the CLUE.

[2020-07-29 18:14] tannewt commented on #76
@kmatch98 Thank you for the empirical numbers!

I think the textmap numbers are a bit misleading though because it's a fixed overhead of 320 x 240 // 8 = 9600 bytes which means label is a better choice for strings of 9600 // 125 = 76 characters or less.

We can raise this number by reducing the overhead of each tilegrid. I think the cost of each character now is:
* 4 bytes for the Group entry poin

[2020-07-29 18:33] kmatch98 commented on #76
@tannewt To check your comment about the third bullet, reran the code with a string with just repeated "M" in it.

I see the same ~100 byte incremental memory usage when each character is added, even thought it is a duplicated glyph.  Please note that I load the glyphs before entering the loop:
[code]

Here is my code with the repeated "M" string using `label.py` and Helvetica 16.  Am I missing so

[2020-07-29 18:54] kmatch98 commented on #76
To keep from getting lost in the empirical measurements:

Once we better define what the problem is, I want to make sure we have an agreed strategy before going any further.

I see two major approaches:
1.  Make a drop-in replacement for `label.py`, only difference is that it's in a bitmap (and less mutable on the fly).  This is the suggestion that was discussed in the call on July 20th.
2.  Make

[2020-07-30 18:06] tannewt commented on #76
Nope! I didn't realize you were preloading the glyphs.

I would do more 2 than 1. To me, a label is a small amount of text. Hundreds of characters is not a label but rather a paragraph or text area. I don't think it needs to be in a different library though. It should just be a different module (aka file) in this library.

I agree that 100 bytes per character is a lot. We should take a look at Til

[2020-07-31 02:01] kmatch98 commented on #76
Thanks @tannewt.  I remain suspicious of TileGrid, it seems like the overhead it excessive but I can't understand the code well enough to point to the issue.

After good discussion with @FoamyGuy this morning I decided to start with the direct drop-in replacement `bitmap_label` (type #1 above).

Once that is done, I'll start on #2.  I've already been down this road with [TextMap](https://github.co

[2020-07-31 17:53] tannewt commented on #76
I think the first place to look for overhead is here: https://github.com/adafruit/circuitpython/blob/main/shared-module/displayio/TileGrid.h#L37

Most of it could be simplified for the single tile case and we could therefore split much of it into a separate sub-allocation when more than one tile is used.

[2020-08-03 19:39] kevinjwalters opened #77 "Use of get_bounding_box is not safe for certain fonts"
The documentation informs the user that there needs to be a **get_bounding_box** method on the font. There are fonts which do meet this criteria but may return `None`. Fonts loaded using `adafruit_bitmap_font` have a return value that depends on the _content_ of a `bdf` file:

https://github.com/adafruit/Adafruit_CircuitPython_Bitmap_Font/blob/master/adafruit_bitmap_font/bdf.py#L67-L79

There are

[2020-08-04 19:12] kmatch98 opened #78 "`y_offset` should not include any impact due to newlines '\n'"
The `y_offset` is currently incorrectly calculated with the inclusion of a multiple related to the quantity of newlines '\n' in the text string.

However `y_offset` should be independent of the number of lines in the string, and should just be related to the glyph dimensions, since this acts as a baseline offset to the vertical center of the "M" glyph.

I observed this issue when calibrating text

[2020-08-06 14:07] dherrada commented on #78
@kmatch98 Good find. If you're up for it, a PR would be greatly appreciated.

[2020-08-07 01:27] kmatch98 commented on #78
Thanks @dherrada, please put this into my queue and I will figure it out.  Also please note there will be a similar issue to resolve in the parallel library `bitmap_label.py`.

[2020-08-07 16:40] kevinjwalters opened #80 "y position of text can be wrong if constructor does not specify text"
I updated my libraries last night to ones from `adafruit-circuitpython-bundle-5.x-mpy-20200806.zip`. I noticed the performance improvement with moving around text but I also spotted one solitary piece of text that was misplaced slightly off screen.

I've just made a simple recreation of this, I think it's when `text` is not specified or it is empty string, `y` is set, and then `text` is set. I am

[2020-08-07 18:44] kmatch98 commented on #80
Put this in my queue.  I think it’s probably different than the case you mention. My first thought is that the `bounding_box` has something wrong with it but I’ll have to dig in. Glad you found a workaround in the meantime.

[2020-08-08 02:49] kmatch98 commented on #80
@kevinjwalters thanks for the heads-up on this issue with the `text` setter.

I uncovered that the `anchor_point` is being set to (0,0) as a default value.  So, when you update the text, it checks the anchor_point and anchored_position as if they are valid data.

The code should be updated such that `anchor_point = None` when the anchor_point isn't defined.

There will need to be associated change

[2020-08-10 14:59] kevinjwalters commented on #80
I re-ordered by code as I can easily set the `text` to its (final) value when the `Label` is constructed.

[2020-08-12 13:14] kmatch98 commented on #80
This was resolved by the merge PR #81

[2020-08-13 04:23] FoamyGuy commented on #75
Sorry it took me a bit until I got back to this. I think this is a good place to coordinate for now. Other folks can chime in if they have idea's and we'll close the issue once the edits to the guide pages are complete.

There is a learn guide repo but it contains mostly projects and sample code used in learn guides. Not the content of the guide pages.

These all look like they'd be great addition

[2020-08-14 23:54] FoamyGuy opened #82 "x position gets shifted over time when changing the text beingdisplayed"
This sample code illustrates the issue:
[code]

The label will move itself left until it reaches the edge of the screen.

This appears to be a rounding issue with floating point math in the anchored_position getter and setter which get called when the text is updated.

[2020-08-15 16:03] FoamyGuy commented on #80
Closed by #81 thanks @kmatch98

[2020-08-15 16:03] #80 closed

[2020-08-16 22:11] kmatch98 opened #84 "Speed up glyph loading when glyphs are not pre-loaded"
When creating a text label: `label` processes each character at a time with `get_glyph`.  If font glyphs are not preloaded, the `adafruit_bitmap_font` library function `get_glyph` calls the `load_glyphs` command on each _individual_ character.

The `load_glyphs` function parses each line of the font file until the required glyph is found. So, if we process each character individually (like we do n

[2020-08-18 00:10] #84 closed

[2020-08-18 00:11] #76 closed

[2020-08-18 00:12] kmatch98 commented on #76
Close with: https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/pull/79

[2020-08-18 18:55] #82 closed

[2020-08-19 14:45] FoamyGuy opened #87 "builtin font does not have load_glyphs always"
in #85 we add a call to `load_glyphs` inside of `_update_text` and this made the label building  / rendering work faster.

It looks like in some cases however this is resulting in an error when used with builtin font:
[code]

This was pointed out by a user in the #help-with-circuitpython channel on discord. They were working on the Clue Temperature and Humidity example project from here: https://l

[2020-08-19 15:34] #87 closed

[2020-08-19 15:48] kmatch98 opened #89 "`label.py` does not allow `color=None`"
When using `label.py` to create transparent text with `color=None` the following error is received:
[code]

Here is my input code:
[code]

The only time I envision that a Label’s color might be desired to be set to `None` is when using the builtinFont where the background is done the “old way” that saves memory on the Clue.

In `bitmap_label.py` we currently accommodate transparent text.

Main que

[2020-08-20 21:31] kmatch98 commented on #89
I don't think there are many use cases where `label.py` would be used with transparent text, so I'm closing this as a non-issue.

[2020-08-20 21:31] #89 closed

[2020-08-27 19:38] CedarGroveStudios opened #91 "Empty text string causes a Label's y-attribute to change"
After a single character label with an empty text-attribute is defined, the label's y-attribute is incremented by 7 when the label's text-attribute is loaded with a character (TEST 1). Conversely, if the label is defined with a character in the text-attribute, the y-attribute will decrement by 7 when the text-attributed is emptied (TEST 3). In either case, the y-attribute shouldn't change. Looks l

[2020-08-27 21:10] kmatch98 commented on #91
Thanks for the detailed description of the issue!

As you suggested, it’s likely an issue with the `anchored_position` or maybe the `bounding_box` calculation of a blank string.  I will check it out and get back with you.

[2020-08-27 21:46] kmatch98 commented on #91
@CedarGroveStudios I tested using the latest version and it works ok for me.  I think you are using a slightly older version of the `label`.

**Can you please pull the latest `adafruit_display_text\label` library and let me know your results?**  [Here is the circuitpython.org page with the latest library bundle.](https://circuitpython.org/libraries)

Here's what I found:
1. I used the 8/26 library

[2020-08-27 22:28] CedarGroveStudios commented on #91
Thank you for your speedy response @kmatch98 ! I was able to confirm that 8/26 bundle release had indeed provided the fix. My _always reliable_ automatic library update routine skipped over `adafruit_display_text` and a couple of other libraries during its latest execution. Sorry about the fire drill.

[2020-08-27 22:28] #91 closed

[2020-08-27 22:32] kmatch98 commented on #91
No worries, I’m just glad we pre-emptively solved the issue.  Cheers!

[2020-10-20 20:41] kevinjwalters opened #94 "Multiline text is no longer vertically centred around the all of the text lines"
I just tested the CLUE sensor plotter with latest libraries from the 20201020 bundle and noticed its button guide screen has the text incorrectly positioned. You can see how it should look from the image at the top of https://learn.adafruit.com/clue-sensor-plotter-circuitpython/circuitpython-sensor-plotter but now it appears with the first line saying `Button Guide` half way down the screen.

I th

[2020-10-20 21:18] FoamyGuy commented on #94
I'm not sure when specifically that this behavior got changed, but I am leaning toward thinking the current behavior is more correct to be honest.

This code only sets the `y` position once in this line `text.y = board.DISPLAY.height // 2` which is setting the y position to midway down the screen vertically.

Since this code is not using Anchored position I don't think any automatic centering (in

[2020-10-20 21:26] FoamyGuy commented on #94
I modified your code to use anchored position and this way it behaves more like it did in the older version of the library even when I switch back to the new one:
[code]

[2020-11-06 05:39] lastcoolnameleft opened #95 "Error in examples/display_text_simpletest.py"
I have the recent Adabox016 (Adafruit Matrix Portal) and when I try to use the simpletest.py, I get:
[code]

I'm using the library from adafruit-circuitpython-bundle-6.x-mpy-20201030

[2020-11-06 05:52] lastcoolnameleft commented on #95
I'm experiencing this issue with `adafruit-circuitpython-matrixportal_m4-en_US-6.0.0-rc.1.uf2`

[2020-11-06 14:30] FoamyGuy commented on #95
The example code is assuming that it will get run on a device that has a display built in (in which case it would be available as `board.DISPLAY` within the code).

But the Matrix Portal needs to do a bit of setup first before it can start using the display.

There is a [MatrixPortal library](https://github.com/adafruit/Adafruit_CircuitPython_MatrixPortal) which will do lots of the set up for you.

[2020-11-06 16:01] FoamyGuy commented on #95
@lastcoolnameleft This example has been added in the examples directory now: https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/blob/master/examples/display_text_matrixportal.py

I'm going to close this issue for now. But if you end up having trouble when you try this feel free to ping me here or in the discord I can help you out.

[2020-11-06 16:01] #95 closed

[2020-11-07 05:14] lastcoolnameleft commented on #95
Thanks for the update and clarification about how/when to use it.  The documentation just pointed me to the repo so I was unaware that the code was for a specific board.  I'm good with it being closed.

[2020-11-14 18:34] FoamyGuy opened #97 "bitmap_label does not show text if not initialized with something."
bitmap_label will not draw text if it's set after creation instead of passing `text` in the constructor
[code]
I can take a look into making the bitmap_label work the same as label in this scenario. Also am curious if @kmatch98 have any ideas if you have a chance to take a look.

[2020-11-14 18:42] ladyada commented on #97
what board is this, magtag? you have to force a refresh if so

[2020-11-14 18:43] FoamyGuy commented on #97
@ladyada  PyPortal and UM Feather S2 with 128x32 OLED. Still waiting for delivery on magtag

[2020-11-14 18:51] kmatch98 commented on #97
Let me try it on the PyPortal and see what’s going on.

[2020-11-14 19:18] kmatch98 commented on #97
This was a bug that was introduced when the separate `self` and `self.local_group` was added to handle modifying the scaling on the fly.

The bug was when the text was "" and it actually was modifying the `self` group rather than the `self.local_group`.  Pull request is incoming.

[2020-11-14 21:43] FoamyGuy commented on #97
resolved by #98

[2020-11-14 21:43] #97 closed

[2020-11-19 06:17] PaintYourDragon opened #100 "Feature request: anchor relative to baseline"
Anchoring text along a baseline (rather than or in addition to bounding rect) would be very Very _very_ helpful. Maybe this could be indicated without breaking existing code by expressing a Label’s anchor_point as a single value or single-element tuple rather than a 2-element tuple (so it still can do left/center/right alignment, while y coord is then just the baseline, period).

As it currently s

[2020-11-19 16:30] kmatch98 commented on #100
Fully agreed that the baseline is a major consternation but was based on the (historical?) version of `label`. It uses the height of an ‘M’ to define the baseline using this code (line 199):

[code]

The baseline position is actually defined in the BDF font specification but is currently ignored in the current code.

On a related note, the ascender/descender height should be included in the BDF fi

[2020-12-15 05:33] endico opened #103 "Should setting background_tight=True change the label's bounding box?"
I have two labels with different sized fonts which I would like to place next to each other along the same baseline. My solution was to place the one on the right in relation to the one on the left using the information in the left's bounding box. This is still a bit off though because the labels have different font sizes so each label has a different amount of padding at the bottom (where the des

[2020-12-15 05:40] endico commented on #103
I found a property of adafruit_bitmap_font.bdf called ascent which is: The number of pixels above the baseline of a typical ascender. The ascender property solves my layout problem nicely although when I try to print font.ascent i get "AttributeError: 'BDF' object has no attribute 'ascent'"
https://circuitpython.readthedocs.io/projects/bitmap-font/en/latest/api.html#module-adafruit_bitmap_font.bdf

[2020-12-15 05:41] endico commented on #103
`import board
from adafruit_display_text import label
import displayio
from adafruit_bitmap_font import bitmap_font

display = board.DISPLAY

main_group = displayio.Group()
medium_font = bitmap_font.load_font("/fonts/Exo-SemiBold-18.bdf")
big_font = bitmap_font.load_font("/fonts/Exo-Bold-42.bdf")
# print("big_font.ascent= ", big_font.ascent)

margin = 10

left_text = label.Label(
    big_font,

[2020-12-15 05:51] endico commented on #103
This shows what its like when left_text.background_tight=True

![IMG_2620](https://user-images.githubusercontent.com/82673/102176478-53dc7b00-3e56-11eb-9634-8be5d840b4af.jpg)

[2020-12-15 05:57] endico commented on #103
When I run the above code I expect the two labels to align at the bottom but surprisingly the baseline of the text on the right aligns with the bottom left's bounding box. This is more proof that the CP code knows something about baselines. Alas, it seems to be a bug.
![IMG_2621](https://user-images.githubusercontent.com/82673/102176661-bafa2f80-3e56-11eb-8baf-0d023eec2cab.jpg)

[2020-12-15 05:57] endico commented on #103
That doesn't happen when the text on the right label has a descender.

![IMG_2622](https://user-images.githubusercontent.com/82673/102176946-5095bf00-3e57-11eb-9bfa-fa345f6b8e78.jpg)

[2020-12-15 06:08] endico commented on #103
Here's the Adobe BDF spec
https://www.adobe.com/content/dam/acom/en/devnet/font/pdfs/5005.BDF_Spec.pdf

[2020-12-15 18:41] endico commented on #103
There are actually 3 issues here.
1. Should the bounding box change in the case were there are no ascenders or no descenders. e.g. "123", "ooo"
2. Expose the ascent property in adafruit_bitmap_font. Maybe it already is and my newbie self is just doing it wrong. This one solves my original problem
3. The layout bug in my code where right_text gets laid out differently depending on whether or not th

[2020-12-15 19:26] endico commented on #103
Oh wait, it does happen with a descender. It looks like the bottom of the Q aligns with the baseline of the label on the left. I didn't notice this at first but the bottoms of the two labels are a bit off.

[2020-12-16 02:30] makermelissa opened #104 "str index out of range for wrap_text_to_lines"
I'm getting IndexError: str index out of range on wrapping strings with:
[code]

[2020-12-16 02:32] makermelissa commented on #104
Also, this chops it up weird.
[code]
results in
[code]

[2020-12-16 02:33] makermelissa commented on #104
For "Hello World", here's the pieces it is chopped into:
[code]

[2020-12-22 00:35] #104 closed

[2021-01-09 21:18] FoamyGuy commented on #94
I'm going to close this one. We can re-open if you anyone wants to revisit the x,y positioning specifically.

[2021-01-09 21:18] #94 closed

[2021-01-17 17:42] FoamyGuy opened #108 "Setting anchor_point and anchored_position in constructor broken for bitmap_label"
fails with this error message:
[code]

label is unaffected by this issue.

[2021-01-17 20:29] kmatch98 commented on #108
@FoamyGuy Thanks for bringing this up, this was a bug by me.

Also, somehow I'm not sure my library was up to date, but I found an issue when the bitmap_label was instanced with an empty text string.  I thought this was fixed before.  I thought updated my library to the latest, but the error was still in there.  Strange.

If you see something wrong with the commit history, let me know and I will c

[2021-01-18 00:16] FoamyGuy commented on #108
closed by #109

[2021-01-18 00:16] #108 closed

[2021-02-03 01:05] kmatch98 commented on #70
The original issue that was linked was closed, so closing this issue also.

[2021-02-03 01:05] #70 closed

[2021-02-03 01:08] kmatch98 commented on #103
@endico some new features of `ascent` And `descent` were added. Will this resolve your issue with text placement?

Please see this recent pull request.
https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/pull/110

[2021-02-03 01:09] kmatch98 commented on #100
New features for font `ascent` and `descent` were added in this recent PR: https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/pull/110

[2021-02-03 03:45] jposada202020 commented on #75
@FoamyGuy I was looking into @kmatch98 description and the examples that he mentions here. taking into account the work being done in [https://github.com/adafruit/Adafruit_CircuitPython_DisplayIO_Layout/issues/3](url)
Maybe we can at least the documentation done here based on the work from kmatch98. And then when the display framework is merged it will be easier to incorporate to it. I can work in

[2021-02-03 14:01] FoamyGuy commented on #75
@jposada202020 I am definitely on board with that idea. One thing that would be great is adding a few more examples that will illustrate some of the features that are less documented. We can use screenshots from those examples in the guide page once it gets created. Perhaps this example: https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/blob/master/examples/display_text_background_co

[2021-02-03 21:05] kmatch98 commented on #75
For completeness, I thought I would add a few more text-related items to the features that need documentation. I don’t have any experience with editing learn guides but let me know if you want any xcontribution from my end.

Since the issue was raised above, @foamyguy and @jepler have added several other features:
- `ascent` and `descent` properties of the font files to help improve ability to kee

[2021-02-03 22:17] FoamyGuy commented on #75
All really great suggestions! Thank you @kmatch98

I have access and experience modifying the learn guides so I can go in and make those final edits when we are ready to do them.

I think the best way to collaborate on it will be working on examples and writing into txt or md files for now. Those can be checked in to a branch somewhere that we can all see, or posted on threads like this one.

Then

[2021-02-04 02:21] jposada202020 commented on #75
Good, I worked already in the examples to illustrate the following:

-     background_tight = False
-     background_tight = True
-     padding parameters

Based on `https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/blob/master/examples/display_text_background_color_padding.py
`
I will need to make the screen shots
I could work during the weekend in the draft version, and maybe we ca

[2021-02-04 02:30] FoamyGuy commented on #75
@jposada202020 Awesome! Thank you for working on this. Check out BitmapSaver library if you haven't already for saving screenshots: https://github.com/adafruit/Adafruit_CircuitPython_BitmapSaver

My PyGameDisplay driver is good for screenshots as well on PC, but does require a bit more setup

[2021-02-04 20:03] jposada202020 commented on #75
Thanks @FoamyGuy  I have alread done the setup with your PyGameDisplay driver. I will use that one.

[2021-02-05 00:10] jposada202020 commented on #75
@FoamyGuy @kmatch98 Included the proposal for the guide/doc, I just want to go too far into this if this is not good. Let me know if this make any sense.

Also, in doing this, I have a proposal to change the library to solve issues #100 and #103. The proposal will add a new parameter call yoffset that will mask/unmask the offset value calculated with get_ascend_descend function and probably let us

[2021-02-05 01:22] FoamyGuy commented on #75
On first read through all of this looks great! Thanks for taking the time to get this out @jposada202020. Over the weekend I'll take a deeper dive into this and start moving it into a draft page in the learn guide so we can get some feedback from kattni and/or anne.

[2021-02-06 16:34] lesamouraipourpre opened #113 "The scale attribute on Label seems to be being applied twice."
When setting the scale of text created with Label, the scale appears to be applied twice causing  the scale to be squared.

In the test script below the word 'Scale' is printed to screen in scale=1, 2 and 3
[text_scale_test.py.txt](https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/files/5937194/text_scale_test.py.txt)

The output txt follows, note the scale in the absolute_transform:

[2021-02-06 21:13] endico commented on #103
@kmatch98 This is great. I'm now able to position the text on the right relative to the text on the left. I can tweak the position of the text on the left and the text on the right goes to the correct location without any additional edits. That's the main thing I was trying to do here. However, I notice that the bounding box still doesn't change when you toggle background_tight. I don't depend on

[2021-02-06 21:33] FoamyGuy commented on #113
I think this bug is specifically inside of Blinka_Displayio instead of this library. If you there is an issue here that is for what I think the root cause is: https://github.com/adafruit/Adafruit_Blinka_Displayio/issues/45

[2021-02-06 22:23] lesamouraipourpre commented on #113
After a few hours of trying to figure out the design of Label, it seems to be because of the sub-Group within the label, the __init__ method refers to
[code]

However, both the local scale and the local_group scale value are adjusted when scale is updated after a transformation
[code]
The attached diff is one possible fix, that keeps the local scale at 1 and uses the scale from the local_group
[di

[2021-02-07 03:09] kmatch98 commented on #113
@lesamouraipourpre
Good find on this bug. I agree with your solution. Can you submit a pull request to fix?

[2021-02-07 03:24] FoamyGuy commented on #113
Nice! I tested this out successfully with Blinka_Displayio and it does resolve the extra scaling. Thank you for digging into this and finding a solution @lesamouraipourpre.

I am still kind of curious about what the difference between core displayio and blinka_displayio that might cause the current code to behave differently.

[2021-02-11 13:23] FoamyGuy commented on #113
resolved by #116 and #117

[2021-02-11 13:23] #113 closed

[2021-02-11 16:36] kmatch98 opened #118 "Tabs are ignored in `label` and `bitmap_label`"
Currently, all tabs `'\n'` are ignored in both label and bitmap_label.

[2021-02-12 22:12] lesamouraipourpre commented on #118
That could be a challenge to define what a tab is. Do you define it as a fixed number of pixels, eg 25px, or do you define it based on the width of a character, eg 8 spaces. As a programmer, I would go with 4 spaces.

Also, how would it behave if the text is not left anchored?

[2021-02-12 23:51] jposada202020 commented on #118
Agree with lesamouraipourpre, at the end of the day the 4 spaces will get translated to pixels in the library according to the Font used

[2021-02-15 02:54] jposada202020 commented on #75
This is just a note to remind to include in the new documentation some mention regarding the Base alignment after discussion in discord. Also it would be a good to explain to people the space distance.

[2021-02-19 13:41] jposada202020 commented on #118
@kmatch98 @FoamyGuy if you are not currently wrking at this I can take a look tonight. Let me know. :)

[2021-02-19 13:55] FoamyGuy commented on #118
@jposada202020 I'd say go for it. Thank you! I'm going to test out the bitmap_label alignment PR next when I get back to it. This was a bit lower down the list for me, so am happy to have you take it on if you are willing to.

[2021-02-20 16:20] jposada202020 commented on #75
Ascci representation the Ascent/Descent for read the docs, i cannot seem to paste it here the right way
![image](https://user-images.githubusercontent.com/34255413/108601966-7f577680-736d-11eb-8cb2-04fb18696761.png)

[2021-02-20 23:39] jposada202020 commented on #75
I review the box and update the text
source here:  https://github.com/jposada202020/Test_Images/blob/main/version2.py
Updated version up the above post: https://github.com/jposada202020/Test_Images/blob/main/label_documentation.md
Please review and add, I am technical service person and not too much a teacher, so I simplified a lot everything because I start from the base that people will know a l

[2021-02-27 00:50] jposada202020 commented on #100
@PaintYourDragon have you test the new feature that we include in the library that allows different fonts to align to the baseline as you describe in this issue.  Let us know if you have more ideas regarding this. Thanks.

[2021-02-27 00:51] jposada202020 commented on #103
@endico HAve you tested the new feature in the library, I would like to hear your input regarding this. Thanks

[2021-02-27 19:22] endico commented on #103
It works great, thanks!

[2021-03-02 00:33] PaintYourDragon commented on #100
I’ve not, yet. Been on other projects. Looking forward to using it on future stuff.

[2021-03-04 00:08] FoamyGuy opened #125 "Duplicate code in library files - potential refactor needed"
actions failure with details on duplicated sections is [here](https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/runs/2017909871?check_suite_focus=true#step:11:31)

We want to avoid having duplicated code if possible. One way to avoid it here will be to make a `LabelBase` class in `__init__.py` with the duplicated parts and extend that in the other types of labels.

[2021-03-05 02:59] jposada202020 commented on #125
I I took a look at this yesterday. For simple modules, I had success creating  LabelBase, in the __init__ file, then creating new classes the label and bitmap_label as children of display.Group and LabelBase. The setter and the getter needs to be equal in order to use them, however this could be solved using a belonging flag and change the module behavior. However, for some modules although equal,

[2021-03-05 13:41] FoamyGuy commented on #125
I will work on this some tonight or tomorrow as well.

Unfortunately I think we may need to get this sorted before we can merge the other PRs because this will cause actions to fail currently.

[2021-03-05 14:36] jposada202020 commented on #125
@FoamyGuy thanks, Agree, we will work on this, let me know if you want that we do a little brainstorm session.

[2021-03-05 23:07] FoamyGuy commented on #125
@jposada202020 I'm going to be working on this some tonight starting in a little bit. If you are around and still interested in brainstorm session ping me on Discord.

[2021-03-06 04:35] jposada202020 commented on #125
@FoamyGuy working in the turning text. Enclosed is a prototype that uses the internal machine of label

https://github.com/jposada202020/sandbox_display_text/blob/0e4257dde2899ad269f30510668780d66536275f/developing_turning_text.py

![image](https://user-images.githubusercontent.com/34255413/110195484-4c9c8c00-7e0b-11eb-92d6-3810e8663aa8.png)

will wait in your findings..

[2021-03-06 17:58] FoamyGuy opened #127 "Add one additional font to the library"
The base_alignment example script uses two fonts, but only one is currently checked in to the repo.

We can find a permissively licensed extra font to include so that the example can run with only files contained in the repo.

[2021-03-07 22:33] FoamyGuy opened #129 "bitmap_label issue with lowercase letters"
I have discovered this example script (it's a trimmed down example from [bitmap_font](https://github.com/adafruit/Adafruit_CircuitPython_Bitmap_Font/blob/master/examples/bitmap_font_label_simpletest.py)):
[code]

When the text has any lower case letters in it the bitmap_label will raise this exception:
[code]

The text with all upper case letters does render correctly however. label does not have

[2021-03-07 23:16] kmatch98 commented on #129
The `blit` error message indicates that the code is trying to write pixels into a region outside of the target bitmap.

Maybe the target bitmap size is wrong?  I'll take a look.

[2021-03-08 00:01] kmatch98 commented on #129
I think there's something strange with the typeface that is making the BDF file strange to me.  I actually tried regenerating it from a `.OTF` file I found.  The BDF file was slightly different but I think wrong in the same ways.

From your BDF file:
[code]

So, taking the maximum ascent as 15, the bitmap_label creates the bounding box size with a "top" height of 15.

Now, when decoding the "d" gl

[2021-03-08 00:28] kmatch98 commented on #129
Maybe this is a related existing issue with fontforge?

https://github.com/fontforge/fontforge/issues/4550

[2021-03-08 00:54] kmatch98 commented on #129
Ok, I've got a proposal to clip the bitmap and give a warning.  Give me a few minutes to "git-ify" it.

[2021-03-08 20:36] FoamyGuy opened #131 "Try to remove max_glyphs restriction from label"
Making an issue now so that we keep this in mind. I do think we'll want to hold off on making this change at least until there is a stable release made that includes the changes to Group though so it might be a little bit until we actually need to do anything further.

displayio.Group has been updated to allow it's size to be mutable so more things can be added, and there is no need to use the `ma

[2021-03-08 22:59] tannewt commented on #131
Let's start moving things off max_size once 6.2.0 has been stable for a little while. We don't want to drop max_size with 6.1.x

[2021-03-09 23:43] #125 closed

[2021-03-10 00:06] FoamyGuy commented on #75
The new guide for display_text library went live today! https://learn.adafruit.com/circuitpython-display_text-library

[2021-03-10 00:06] #75 closed

[2021-03-10 00:14] kmatch98 commented on #75
Super awesome.  @FoamyGuy and @jposada202020 thanks for all your additions and documentation to make this even more useful for folks!

[2021-03-10 00:25] jposada202020 commented on #75
@FoamyGuy Amazing guide. Nice graphics!!! and very detailed explanations, every possible parameter was described and account for. Excelent work here!

[2021-03-10 00:30] #129 closed

[2021-03-10 06:59] jposada202020 opened #136 "When using background setter, background text does not show correctly"
When ussing the setter for background text, the text does not show correctly. I am assuming that this applies for anchor point setter, as I was receiving complains from the code that I was testing. However I thought it was my new PR. Did not test this for anchor_point.

So sorry for not to catching this before the Refactor, but normally I do all the test with list iterations. sorry @FoamyGuy .

##

[2021-03-10 07:31] jposada202020 commented on #136
I have tested in Release 2.15.0 and works as expected, using the same code included

[2021-03-10 12:21] FoamyGuy commented on #136
Good catch, I am glad you found this! I think this is the same issue from #49. I must have messed up the handling of background bitmap in refactoring. I will look into this tonight and get a fix in.

[2021-03-11 23:09] #136 closed

[2021-03-13 03:33] FoamyGuy opened #140 "anchored position issue"
Issue and test code outlined here: https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/pull/137#issuecomment-795956051

[2021-03-13 16:34] flavio-fernandes opened #141 "Label init with max_glyphs instead of text value is broken"
When Label class is initialized with size instead of text.
The split function is attempted in None object instead of an empty string.
That will cause this:

[code]

This is code with this issue (look at lines 78 ans 84):
https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/blob/5934db74859c4a2544e811c774b74d85c8c38955/adafruit_display_text/label.py#L78-L84

To reproduce, simply create a

[2021-03-13 23:42] #141 closed

[2021-03-14 02:59] FoamyGuy commented on #127
resolved by #133

[2021-03-14 02:59] #127 closed

[2021-03-14 15:42] FoamyGuy commented on #100
#115 and #134 have added this feature for x,y placement, and anchored_point.

It's much easier now to align different sized fonts as shown in the images above using thew new features. Closing this issue for now.

[2021-03-14 15:42] #100 closed

[2021-03-14 16:17] FoamyGuy commented on #103
It looks like the new baseline alignment features solved the core of this issue. Closing for now. We can re-open or make a new one in the future if there is further discussion around the `background_tight` behavior.

[2021-03-14 16:17] #103 closed

[2021-03-20 17:08] jposada202020 commented on #140
@FoamyGuy I have retested this, with the new refactor. This is working as expected. There is A mistake in my test code.  I test this in the pyportal and in the Pygame Display without any problems
The problem was in the setter as I was not using the `=` sign. If you coudl retest  it and verify that everything is working
[code]

[2021-03-23 23:04] kmatch98 opened #146 "Incorrect keyword parameters are ignored, and do not cause errors."
When creating labels, incorrect input parameters are ignored and do not cause any errors.  This will cause confusion if users type the wrong keyword name and nothing happens (like happened with me when I used `background` instead of `background_color`).

I added a "random_argument" to the simpletest and it does not cause any errors.  Not a huge deal but it can prevent users from realizing their er

[2021-03-24 00:33] jposada202020 commented on #146
Maybe we can use a kawrgs parser `[args for args in kwargs]`, but, the we will need a dict or list with all the arguments defined in the library to check upon to validate and raise and error

[2021-03-30 02:13] #146 closed

[2021-03-31 12:30] FoamyGuy commented on #140
I confirmed the anchor positioning is working as intended with the given script and a modified simpletest.

Thanks for looking into this as well @jposada202020

[2021-03-31 12:30] #140 closed

[2021-07-01 23:42] FoamyGuy commented on #131
I'm going to re-open this one for now with the intent to figure out if we can safely remove `max_glyphs` from label. If it turns out not to be possible we can close this back up.

[2021-07-16 21:38] #131 closed

[2021-07-24 14:25] FoamyGuy opened #155 "Width property not working in some cases"
Ref: https://github.com/adafruit/Adafruit_CircuitPython_MacroPad/issues/10

Width and height properties do exist in LabelBase. I'm not sure why it's raising AttributeNotFound in this context.

I am looking into it further and working on a fix now.

[2021-07-24 14:31] FoamyGuy commented on #155
I tested this minimal example:
[code]
It does print the width and does not raise an AttributeError. So this is somehow tied into the usage inside of grid_layout. Trying that out next to see if I can find a minimal reproducer.

[2021-07-24 14:48] lesamouraipourpre commented on #155
The way I did the width and height properties on `LabelBase`, they are read-only. That might be the source of the error.

Investigating further as well but I don't have a MacroPad, so I'll have to knock up a similar but different test.

[2021-07-24 14:58] FoamyGuy commented on #155
Yep, I think you are right. GridLayout is trying to set them and that is causing the error. In the old version they existed as class variables (unsure if proper term) which allowed them to be set even though it did not have a real effect.

I think the best solution for now will be to catch the error in GridLayout. I'm going to try that out on the stream today.

[2021-07-24 15:42] FoamyGuy commented on #155
It turned out this needed to be fixed inside the DisplayIO_Layout library. The PR to resolve this is here: https://github.com/adafruit/Adafruit_CircuitPython_DisplayIO_Layout/pull/42

[2021-07-24 15:59] #155 closed

[2021-08-19 06:09] sargunv opened #157 "save_text=False throws error on init"
[code]

[code]

I believe this is because that `_reset_text` function is using the property `self._text` instead of the local variable `text` in some (but not all) places.

[2021-08-19 07:07] lesamouraipourpre commented on #157
I am unable to reproduce this on a PyPortal running `Adafruit CircuitPython 6.3.0 on 2021-06-01` or `Adafruit CircuitPython 7.0.0-alpha.6 on 2021-08-12`

**What version of CircuitPython are you running?**
This will be in the contents of `boot_out.txt` on the device.

**What versions of the libraries are installed?**
Run `circup freeze` from the connected computer. If you need to install `circup`,

[2021-09-27 17:38] FoamyGuy opened #158 "Missing Type Annotations"
There are missing type annotations for some functions in this library.

The `typing` module does not exist on CircuitPython devices so the import needs to be wrapped in try/except to catch the error for missing import. There is an example of how that is done here:

[code]

Once imported the typing annotations for the argument type(s), and return type(s) can be added to the function signature. Here

[2021-12-17 17:52] tekktrik commented on #157
Hi @sargunv, I noticed your code has the parameter `text=str`.  Is it possible you're setting the text to the type `str` then an actual string value.  That is to say does it work if you use something like `text="LabelName"`?

[2021-12-17 17:56] tekktrik commented on #157
Or were you just saying that any string causes the issue?

[2021-12-17 17:58] tekktrik commented on #157
I ask because I'd love to look into this if you have any more information :)

[2021-12-20 18:12] PaulskPt commented on #157
Hi, I encounter the same problem. Using a Pimoroni Pico Breakout Garden (BG) base with a Raspberry Pi Pico; an OLED 1.12in monochrome 128x128px SPI; an Adafruit TMP117 via QT-stemma and a BG adapter. Circuitpython version:  7.1.0-beta.3 on 2021-12-13.  To preserve memory, I tried the ```save_text=False``` parameter when calling label.Label() as follows:
```tempv_text_area = label.Label(terminalio.

[2021-12-20 18:24] FoamyGuy commented on #157
@PaulskPt are you able to post a copy of your entire script that is raising this error? Or if it's very large possibly see if you can make a self-contained reproducer script that contains the minimum code needed to raise the issue?

[2021-12-20 20:41] PaulskPt commented on #157
Hi @FoamyGuy, thank you for responding.
Here is the listing of ```code.py```:
[code]

Here's  the error traceback:
[code]

[2021-12-20 20:53] PaulskPt commented on #157
Here an image of the result:

![IMG_3445](https://user-images.githubusercontent.com/9107950/146831292-bdbf5bec-b5c8-4086-a824-a3651a3b18ee.jpg)

[2021-12-21 19:26] tekktrik commented on #157
Thanks @PaulskPt!  Looking at the code it looks like @sargunv is right, it's because of how `self._text` and local variable `text` are no longer consistent if `save_text = False`.  I'm out for the holidays starting tomorrow, but I should be able to squeeze out a PR, but I won't be able to test.  Thanks for the code and followup!

[2021-12-21 19:31] PaulskPt commented on #157
@tekktrik I wish you nice holidays. I'll await the development with attention.

[2021-12-21 21:08] tekktrik commented on #157
Hi @PaulskPt I submitted a fix for the issue as PR #160.  If you want you can give that a try and see if that change fixes the issue.

[2021-12-24 01:01] FoamyGuy commented on #157
resolved by #160

[2021-12-24 01:01] #157 closed

[2021-12-24 15:20] FoamyGuy commented on #158
closed by #161

[2021-12-24 15:20] #158 closed

[2022-02-05 00:18] kmatch98 opened #162 "Spaces are deleted when word-wrapping"
I noticed that some spaces are being deleted when word-wrapping text using the `wrap_text_to_pixels` function in the `adafruit_display_text` library. Library is pulled from bundle `adafruit-circuitpython-bundle-7.x-mpy-20220131`.

I use a long string with long words and a narrow pixel width, and it causes some spaces to be deleted , such as in:
- **simplifyexp** - "simplify experimenting"
- **low-

[2022-02-07 05:28] kmatch98 commented on #162
At first glance, I think the issue is here https://github.com/adafruit/Adafruit_CircuitPython_Display_Text/blob/1a9edbdf59a0f690afcc194401f5a43412fe597b/adafruit_display_text/__init__.py#L70

This code should add a space before placing a word if it’s not the initial word in a line. This can be detected by seeing if `partial == indent0` when `firstword== True` or `partial == indent1`. When `firstwo

[2022-02-08 00:31] #162 closed

[2022-02-27 17:38] kevinjwalters opened #166 "Updates to text are inefficient for special case of same length and width text"
This library allocates a lot of new objects when none is needed for text updates of the same length where the overall text is also the same width. This can lead to memory fragmentation and eventual failure of code which tries to efficiently update an existing `Label`'s `text` property as recommended in [Adafruit Learn: CircuitPython Display_Text Library: Label Updating](https://learn.adafruit.com/

[2022-02-27 17:39] kevinjwalters commented on #166
I've got some fixes for this but I need to check them...

[2022-03-12 23:46] kevinjwalters commented on #166
I've just put in a PR (#167) for this. I've been using it and testing it with two applications I use but there's a huge amount of functionality to test here.

How's testing been done on `Label` in the recent past?

[2022-03-13 00:16] kevinjwalters commented on #166
[[Adafruit Learn: CircuitPython Display_Text Library: Label Updating](https://learn.adafruit.com/circuitpython-display_text-library/label-updating).](https://learn.adafruit.com/circuitpython-display_text-library/label-updating) could be updated to state explicitly that the most efficient updates are ones where the text length is the same length favouring fixed length strings.

[2022-04-16 22:17] kevinjwalters commented on #166
Fixed with #167

[2022-04-16 22:18] #166 closed

[2022-05-11 02:54] TerryCornall opened #169 "bitmap_label losing direction"
Hi!
I'm using adafruit-circuitpython-bundle-7.x-mpy-20220507.zip with Circuitpython adafruit-circuitpython-feather_m4_express-en_US-7.2.5.uf2
It's running on an Adafruit feather m4 express with a 2.7" Adafruit Sharp Memory display. (Lovely rig, BTW works very well other than this little issue)

I noticed an issue with adafruit_display_text.bitmap_label just recently where despite the label_directi

[2022-05-12 13:48] TerryCornall commented on #169
hmm, putting in code doesn't seem to work very well....

[2022-05-12 14:41] FoamyGuy commented on #169
Thanks for reporting this and sharing the pared down reproducer code.

My guess is we have somewhere inside of bitmap_label where it's not correctly checking and using the direction setting. I'll look into this over the upcoming weekend and see if I can pin it down if no one else gets to it sooner.

[2022-05-12 23:35] Neradoc opened #171 "Suppress warnings in bitmap_label"
There are warnings printed in bitmap_label (but not label), if a glyph is missing, and if a glyph is clipped.
Those generate possibly unwanted "noise" to the REPL, it would be nice to silence them.

But I don't know if we'll want to: remove them or have an option to silence them or an option to display them, and if so, we likely want it to work on both types of labels.

[2022-05-13 02:15] TerryCornall commented on #169
No worries. Thanks for the great work!

[2022-05-13 19:03] tekktrik opened #172 "Use `fontio.FontProtocol` for type annotations"
Looking at the library, `fontio.FontProtocol` should should be good to replace `Union[BuiltinFont, BDF, PCF]`!

[2022-06-15 16:42] #172 closed

[2022-09-08 17:24] snkYmkrct commented on #169
Hello! 🐈‍⬛ 🐈‍⬛

If a fix is still needed for this bug, I think I found the problem.

The class in `bitmap_label` is saving 2 values, the current `_label_direction`, and the previous `_prev_label_direction`,
probably for avoiding too many text manipulations, if unnecessary.

The problem is when someone sets the `label_direction` to the same value twice in a row, like in the code above:

[code]
`_la

[2022-09-12 14:59] FoamyGuy commented on #169
@snkYmkrct Thanks for looking further into this and submitting the fix!! I'll try it out today.

There is A nifty trick for this type of situation where you want to test a library that is frozen in to a build. If you put the library files in the root of the CIRCUITPY drive it will override the frozen in one allowing you to test your custom one. So the structure would be:

[code]

instead of the mo

[2022-09-12 15:41] #169 closed

[2022-09-12 17:53] snkYmkrct commented on #169
@FoamyGuy

 I did not know that! Thank you for the tip, and for merging my PR! 🙂

[2022-10-06 18:43] tekktrik opened #175 "Label can take Tuple[int, int, int] for color"
The typing for `Label` (and any parent classes) should be corrected to allow the `color` argument to also take the type `Tuple[int. int ,int]`.  See https://github.com/adafruit/Adafruit_CircuitPython_Simple_Text_Display/pull/13 for reference.

[2022-10-28 22:56] tekktrik commented on #175
Resolved by #176

[2022-10-28 22:56] #175 closed

[2022-11-10 01:44] unlimitedbacon opened #177 "wrap_text_to_pixels() cannot handle Windows line endings"
The wrap_text_to_pixels() fails with an `AttributeError` when given text with Windows style (CRLF) line endings, because the `\r` character has no `.shift_x` attribute. Here is an example string:

[code]

[2022-11-15 16:47] rdagger opened #178 "bitmap_label flicker"
The bitmap_label has varying degrees of flicker when used to display frequently changing data.  It is very noticeable and occurs regardless of the baud rate.

I switched from a regular label to save memory but immediately noticed the difference.  The regular label has no perceivable flicker during updates.
[code]

[2022-11-15 21:03] tekktrik commented on #177
Are you doing this using Blinka?  Could you provide sample code that replicates the error for testing/fixing?